<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"  ></script>
    <script src="index.js"  ></script>
</head>
<style>
    .container {
        padding: 1%;
    }
</style>
<body>
    <%- include('navBarHeader') %>
    <div class="container">
        <h1 class="display-1">Experience</h1><br>

        <!-- Card for Data Science Researcher -->
        <div class="card mb-4">
            <div class="card-header bg-info text-white">
                <h2 class="display-6">1. Data Science Researcher and ML developer</h2>
                <p class="fs-4">GEPTON | A Premium SaaS Agency</p>
            </div>
            <div class="card-body">
                <p class="display-1 fs-4">Data science internship at Gepton provided an immersion into the world of AI, where I wielded powerful tools like Natural Language Processing (NLP), Time Series Analysis, and Machine Learning to unlock hidden insights and drive innovation.</p>

                <!-- Key Skills & Expertise Card -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-info">Key Skills & Expertise</h5>
                        <ul>
                            <li><p class="font-weight-normal">NLP:</p> <p class="font-weight-light">Uncovering hidden meanings from text data to drive decision-making.</p></li>
                            <li><p class="font-weight-normal">Machine Learning:</p> <p class="font-weight-light">Building intelligent models for classification and regression.</p></li>
                            <li><p class="font-weight-normal">Pipeline Engineering & MLOps:</p> <p class="font-weight-light">Streamlining data processing workflows for seamless integration.</p></li>
                            <li><p class="font-weight-normal">Data Analytics:</p> <p class="font-weight-light">Extracting actionable insights from diverse data sources.</p></li>
                            <li><p class="font-weight-normal">Python proficiency:</p> <p class="font-weight-light">Mastering Python for data manipulation and model development.</p></li>
                            <li><p class="font-weight-normal">Soft Skills:</p> <p class="font-weight-light">Effective collaboration, communication, and knowledge sharing.</p></li>
                        </ul>
                    </div>
                </div>
                
                <p class="fs-5 fw-semibold">Impactful Projects:</p>
                <ul>
                    <li><p class="font-weight-light">Sentiment Analysis for Customer Feedback: My NLP-powered model analyzed feedback, leading to a 15% increase in customer satisfaction by identifying areas for improvement.</p></li>
                    <li><p class="font-weight-light">Demand Forecasting for Inventory Management: Utilizing time series analysis, I developed a forecasting model that reduced stockouts by 20% and minimized storage costs.</p></li>
                </ul>
            </div>
        </div>

        <!-- Card for Financial Analyst -->
        <div class="card">
            <div class="card-header bg-info text-white">
                <h2 class="display-6">2. Financial Analyst</h2>
                <p class="fs-3">eClerx</p>
            </div>
            <div class="card-body">
                <p class="display-1 fs-4 ">At Exclerx, I thrived as an analyst, leveraging my proficiency in Microsoft Excel, Power BI, and SQL to extract, transform, and analyze complex data sets.</p>
                
                <!-- Key Skills & Expertise Card -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-info">Key Skills & Expertise</h5>
                        <ul>
                            <li><p class="font-weight-normal">Expert data manipulation:</p> <p class="font-weight-light">Mastered Microsoft Excel and Power BI for data cleaning, visualization, and storytelling.</p></li>
                            <li><p class="font-weight-normal">SQL proficiency:</p> <p class="font-weight-light">Extracted and manipulated data from various relational databases with efficient SQL queries.</p></li>
                            <li><p class="font-weight-normal">Analytical mindset:</p> <p class="font-weight-light">Employed statistical tools and techniques to uncover hidden trends and patterns.</p></li>
                            <li><p class="font-weight-normal">Strong communication skills:</p> <p class="font-weight-light">Effectively presented data insights to diverse audiences, both verbally and through written reports.</p></li>
                            <li><p class="font-weight-normal">Client-focused approach:</p> <p class="font-weight-light">Built strong relationships with clients by understanding their needs and exceeding expectations.</p></li>
                        </ul>
                    </div>
                </div>

                <p>Delivering actionable insights and fostering client relationships through data-driven analysis.</p>
                <ul>
                    <li><p class="font-weight-light">Uncovering hidden trends and patterns: Utilizing statistical and analytical techniques, I identified key drivers of performance and potential areas for improvement.</p></li>
                    <li><p class="font-weight-light">Building impactful reports and presentations: I translated data into compelling narratives, effectively communicating insights to both internal and external stakeholders.</p></li>
                    <li><p class="font-weight-light">Enhancing client relationships: Through clear and concise communication, I collaborated with clients to understand their needs and deliver valuable solutions.</p></li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('footer') %>  <br><br>
</body>
</html>
