<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
    <script src="index.js" defer></script>
</head>
<body>
    <%- include('navBarHeader') %>

    <start class="display-1">Experience</start><br><br>
    <!-- <p class="display-1 text-primary">This is my Portfolio</p><br><br> -->
    <p class="display-6 text-primary">1. Data Science Researcher and ML developer</p>
    <p class="display-6 fs-4">  GEPTON | A Premium SaaS Agency </p><br> 

   

 
<p class = "display-6 fs-4"> Data science internship at Gepton provided an immersion into the world of AI, where I wielded powerful tools like Natural Language Processing (NLP), Time Series Analysis, and Machine Learning to unlock hidden insights and drive innovation.</p>
<p class = "display-6 fs-4 fw-semibold">Key Skills & Expertise:</p>
<p><p class = "fw-semibold">NLP:</p> Extracted valuable meaning from text data, uncovering sentiment and topics that inform better decision-making.</p>
<p><p class = "fw-semibold">Machine Learning:</p>  Built and deployed intelligent models for classification and regression, leveraging algorithms like decision trees and neural networks.</p> 
<p><p class = "fw-semibold">Pipeline Engineering & MLOps:</p>  Streamlined data processing workflows and operationalized models for seamless integration into production environments.</p>
<p><p class = "fw-semibold">Data Analytics:</p>  Employed statistical and analytical techniques to extract actionable insights from diverse data sources.</p>
<p><p class = "fw-semibold">Python proficiency:</p>  Mastered Python as my primary tool for data manipulation, analysis, and model development.</p>
<p><p class = "fw-semibold">Soft Skills:</p>  Collaborated effectively, honed communication through presentations, and actively contributed to knowledge sharing.</p>
<p class = "display-6 fs-5"> Impactful Projects: </p>

Sentiment Analysis for Customer Feedback: My NLP-powered model analyzed feedback, leading to a 15% increase in customer satisfaction by identifying areas for improvement.
Demand Forecasting for Inventory Management: Utilizing time series analysis, I developed a forecasting model that reduced stockouts by 20% and minimized storage costs 
 


<p class="display-6 text-primary"><br>2.Financial Analyst </p>
<p class="display-6 fs-3" text-primary>eClerx </p><br>


<p class = "display-6 fs-4" > At Exclerx, I thrived as an analyst, leveraging my proficiency in Microsoft Excel, Power BI, and SQL to extract, transform, and analyze complex data sets. </p>
 

<p class="display-6 fs-4  fw-semibold">Key Skills & Expertise:<br><br></p>

<p><p class = "fw-semibold">Expert data manipulation: </p> Mastered Microsoft Excel and Power BI for data cleaning, visualization, and storytelling.</p>
<p><p class = "fw-semibold">SQL proficiency:</p> Extracted and manipulated data from various relational databases with efficient SQL queries.</p>
<p><p class = "fw-semibold">Analytical mindset:</p>  Employed statistical tools and techniques to uncover hidden trends and patterns.</p>
<p><p class = "fw-semibold">Strong communication skills:</p>  Effectively presented data insights to diverse audiences, both verbally and through written reports.</p>
<p><p class = "fw-semibold">Client-focused approach:</p>  Built strong relationships with clients by understanding their needs and exceeding expectations.</p>

Delivering actionable insights and fostering client relationships through data-driven analysis.



<p>Uncovering hidden trends and patterns: Utilizing statistical and analytical techniques, I identified key drivers of performance and potential areas for improvement.
Building impactful reports and presentations: I translated data into compelling narratives, effectively communicating insights to both internal and external stakeholders.
Enhancing client relationships: Through clear and concise communication, I collaborated with clients to understand their needs and deliver valuable solutions. </p>


    
</body>
<%- include('footer') %>  <br><br>
</html>